.song{
    color:gold;
    font-size: 15px;
}
.chorus{
    color:cornflowerblue;
    font-size: 15px;
}
.liela{
    color:darkblue;
    font-size: 15px;
}
.fairies{
    color:fuchsia;
    font-size: 15px;
}
.fleta{
    color: maroon;
    font-size:15px;
}
.celia{
    color:gold;
    font-size: 15px;
}
.queen{
    color:cornflowerblue;
    font-size: 15px;
}
.willis{
    color:orangered;
    font-size: 15px;
}
.phyl{
    color:crimson;
    font-size: 15px;
}
.lord toll{
    color:indigo;
    font-size: 15px;

}
.lord mount{

    color:tomato;
    font-size: 15px;

}