.SONG—PRIVATE {
    color:black;
    font-size: 15px;
}
.leila{
    color:darkblue;
    font-size: 15px;
}
.celia{
    color:gold;
    font-size: 15px;
}

.lordtoll{
    color:indigo;
    font-size: 15px;

}
.name{
    color:black;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.lordmount{

    color:tomato;
    font-size: 15px;

}
.scene{
    color:mediumorchid;
    font-size: 15px;
   
}
.speech{
    color:black;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.directions {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
    background-color:aliceblue
}
.directions:hover {
    background-color:aqua;
    color:black;
}
.song{
    color:black;
    font-size: 15px;
}
.liela{
    color:darkblue;
    font-size: 15px;
}
.table,
th,
td {
    color: black;
    border: solid 2px;
    text-align: center;
    border-collapse: collapse;
    margin: auto;
    padding: 15px;

}

tr:nth-child(odd) {
    background-color:gainsboro
}

tr:nth-child(even) {
    background-color:gold
}
.lordmount:hover {
    background-color:beige;
    color:blue;
    border: 2px solid;
    filter: blur(1px);
    text-shadow: 1.5px 3.5px;
}
.lordtoll:hover {
    background-color: cornsilk;
    color:azure;
    border: 1.5px solid;
    filter: blur(2px);
    text-shadow: 1.5px 4px;
}
.navbar-horizontal {
  
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: azure;
    }
    ul.navbar-horizontal li {
    float:left; 
    color:darkslategrey;
    background-color:grey;
   
    }
    .navbar-horizontal a {
    display:block;
    padding: 15px;
    color: aliceblue;
    }

    .navbar-horizontal a:hover {  
    background-color:chartreuse;
    color:white;
    }